<!-- templates/lab_5/partials/footer.html -->
<!-- TODO, CREATE THIS FILE AND ADD copyright symbol -->
<div style="text-align: justify; position: static; margin-bottom: 0px;">
	<p>Made with Love by Aji, Wigo, Bima</p>
</div>
