<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a style="color: white;" class="navbar-brand" href="/"><b>SIMBION</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="dropdown">
        <a class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#">Fitur<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'fitur3:index' %}">Tambah Beassiwa</a></li>
          <li><a class="dropdown-item" href="{% url 'fitur4:index' %}">Daftar Beaiswa</a></li>
          <li><a class="dropdown-item" href="{% url 'fitur5:index' %}">Mendaftar Beasiswa</a></li>
          <li><a class="dropdown-item" href="{% url 'fitur6:index' %}">Daftar Pendaftar Beaiswa</a></li>
        </ul>
      </li>
    </ul>
    
    <ul class="navbar-nav ml-auto">
      {% if request.session.login_user is None %}
        <li class="nav-item"><a href="/login" class="btn btn-success mr-sm-2">Login</a></li>
        <li class="nav-item"><a href="/register" class="btn btn-success mr-sm-2">Register</a></li>
      {% else %}
        <li class="dropdown">
          <a class="dropdown-toggle btn btn-outline-success" data-toggle="dropdown" href="#">Welcome {{ request.session.login_user }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/logout" class="dropdown-item">Logout</a></li>
          </ul>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>