{% extends "layout/base.html" %}
{% block content %}

<div style="margin-top: 15vh;" class="container">
  <div class="row">
    <div class="col-sm">
      <br>
      <div class="card">
        <div class="card-header">
          <h4>Login</h4>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Username</label>
              <input id="username" type="username" class="form-control" name="username" value="" required autofocus>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input id="password" type="password" class="form-control" name="password" required data-eye>
            </div>
            <div class="form-group">
              <label>
                <input type="checkbox" name="remember"> Remember Me
              </label>
            </div>
            <div class="form-group no-margin">
              <button type="submit" class="btn btn-primary btn-block">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}