{% extends "layout/base.html" %}
{% block content %}
<div class="py-5 text-white opaque-overlay cover">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-dark border-primary">
        <h1 class="text-gray-dark text-dark">
          <b>Form Pendaftaran Beasiswa</b>
        </h1>
        <p class="lead mb-4 text-dark">Lengkapi semua isian di bawah ini untuk mendaftar beasiswa yang anda pilih</p>
        <form class="py-3" method="post" action="https://formspree.io/">
          <div class="form-group">
            <label>Kode Beasiswa</label>
          </div>
          <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Dropdown </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" data-target="#kodebeasiswa">12345</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" data-target="#kodebeasiswa">67890</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" data-target="#kodebeasiswa">11223</a>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="kode-beasiswa"> </div>
          <div class="form-group">
            <label class="">Nomor Pokok Mahasiswa</label>
            <input type="text" name="password" class="form-control" placeholder="Masukan npm" required="required"> </div>
          <div class="form-group">
            <label class="">Email</label>
            <input type="email" name="email" class="form-control" placeholder="Masukan email" required="required"> </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Indeks Prestasi Kumulatif (IPK)</label>
            <input type="text" class="form-control" required="required" placeholder="Masukan IPK" id="inlineFormInput"> </div>
          <button type="submit" class="btn btn-primary">Daftar</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
