{% extends "layout/base.html" %}
{% block content %}
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="">
          <b>List Pendaftar Beasiswa [Nama Beasiswa]</b>
        </h1>
      </div>
    </div>
  </div>
</div>

<table class="table table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th>No</th>
      <th>Nama</th>
      <th>NPM</th>
      <th>Waktu Daftar</th>
      <th>Status</th>
      <th>Pilih</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Ahmad Wigo Prasetya</td>
      <td>1606878215</td>
      <td>01/06/2018</td>
      <td>Diterima</td>
      <td>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-3">
                <a class="btn btn-success" href="#">Terima</a>
              </div>
              <div class="col-md-3">
                <a class="btn btn-danger" href="#">Tolak</a>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>Aji Wuryanto</td>
      <td>1606878216</td>
      <td>02/06/2018</td>
      <td>Diterima</td>
      <td>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-3">
                <a class="btn btn-success" href="#">Terima</a>
              </div>
              <div class="col-md-3">
                <a class="btn btn-danger" href="#">Tolak</a>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <th scope="row">3</th>
      <td>Ahmad Bima Nugraha</td>
      <td>1606878217</td>
      <td>03/06/2018</td>
      <td>Diterima</td>
      <td>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-3">
                <a class="btn btn-success" href="#">Terima</a>
              </div>
              <div class="col-md-3">
                <a class="btn btn-danger" href="#">Tolak</a>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>




{% endblock %}