{% extends "layout/base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <br>
      <div class="card">
        <div class="card-header">
          <center><h4>Register</h4></center>
          <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-mahasiswa-tab" data-toggle="pill" href="#pills-mahasiswa" role="tab" aria-controls="pills-mahasiswa" aria-selected="true">Mahasiswa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-donatur-tab" data-toggle="pill" href="#pills-donatur" role="tab" aria-controls="pills-donatur" aria-selected="false">Donatur</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-mahasiswa" role="tabpanel" aria-labelledby="pills-mahasiswa-tab">
              <center><h4>Pendaftaran Mahasiswa</h4></center>
              <form method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="username">Username</label>
                      <input id="username" type="text" class="form-control" name="username" value="" autofocus>
                    </div>                      
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="npm">NPM</label>
                      <input id="npm" type="text" class="form-control" name="npm" value="" autofocus>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input id="password" type="password" class="form-control" name="password" data-eye>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="nama">Nama Lengkap</label>
                      <input id="nama" type="text" class="form-control" name="nama" value="" autofocus>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email">E-Mail</label>
                      <input id="email" type="email" class="form-control" name="email" value="" autofocus>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="no_telp">Nomor Telepon</label>
                      <input id="no_telp" type="text" class="form-control" name="no_telp" value="" autofocus>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="alamat_tinggal">Alamat Tempat Tinggal</label>
                      <textarea id="alamat_tinggal" class="form-control" name="alamat_tinggal" cols="30" rows="4"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                        <label for="alamat_domilisi">Alamat Domilisi</label>
                        <textarea id="alamat_domilisi" class="form-control" name="alamat_domilisi" cols="30" rows="4"></textarea>
                      </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="nama_bank">Instansi Bank</label>
                      <input id="nama_bank" type="text" class="form-control" name="nama_bank" value="" autofocus>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="no_rekening">Nomor Rekening</label>
                      <input id="no_rekening" type="text" class="form-control" name="no_rekening" value="" autofocus>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="nama_pemilik">Nama Pemilik</label>
                      <input id="nama_pemilik" type="text" class="form-control" name="nama_pemilik" value="" autofocus>
                    </div>
                  </div>
                </div>

                <div class="form-group no-margin">
                  <button type="submit" class="btn btn-primary btn-block">Register</button>
                </div>
              </form>
            </div>

            <div class="tab-pane fade" id="pills-donatur" role="tabpanel" aria-labelledby="pills-donatur-tab">
              <center><h4>Pendaftaran Donatur</h4></center>
              <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-individual-tab" data-toggle="pill" href="#pills-individual" role="tab" aria-controls="pills-individual" aria-selected="true">Individual</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-yayasan-tab" data-toggle="pill" href="#pills-yayasan" role="tab" aria-controls="pills-yayasan" aria-selected="false">Yayasan</a>
                </li>
              </ul>
              <br>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="pills-individual" role="tabpanel" aria-labelledby="pills-individual-tab">
                  <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="username">Username</label>
                          <input id="username" type="text" class="form-control" name="username" value="" required autofocus>
                        </div>                      
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="nomor_identitas">Nomor Identitas</label>
                          <input id="nomor_identitas" type="text" class="form-control" name="nomor_identitas" value="" required autofocus>
                        </div>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input id="password" type="password" class="form-control" name="password" required data-eye>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="nama">Nama Lengkap</label>
                          <input id="nama" type="text" class="form-control" name="nama" value="" required autofocus>
                        </div>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email">E-Mail</label>
                          <input id="email" type="email" class="form-control" name="email" value="" required autofocus>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="npwp">NPWP</label>
                          <input id="npwp" type="text" class="form-control" name="npwp" value="" required autofocus>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="no_telp">Nomor Telepon</label>
                            <input id="no_telp" type="text" class="form-control" name="no_telp" value="" required autofocus>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="alamat">Alamat Lengkap</label>
                            <textarea id="alamat" class="form-control" name="alamat" cols="30" rows="4"></textarea>
                          </div>
                        </div>
                    </div>

                    <div class="form-group no-margin">
                      <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                  </form>
                </div>
                <div class="tab-pane fade" id="pills-yayasan" role="tabpanel" aria-labelledby="pills-yayasan-tab">
                  <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="username">Username</label>
                          <input id="username" type="text" class="form-control" name="username" value="" required autofocus>
                        </div>                      
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="nomor_identitas">Nomor Identitas</label>
                          <input id="nomor_identitas" type="text" class="form-control" name="nomor_identitas" value="" required autofocus>
                        </div>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input id="password" type="password" class="form-control" name="password" required data-eye>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="nama">Nama Lengkap</label>
                          <input id="nama" type="text" class="form-control" name="nama" value="" required autofocus>
                        </div>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email">E-Mail CP / Yayasan</label>
                          <input id="email" type="email" class="form-control" name="email" value="" required autofocus>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="npwp">NPWP</label>
                          <input id="npwp" type="text" class="form-control" name="npwp" value="" required autofocus>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="no_sk_yayasan">Nomor SK Yayasan</label>
                          <input id="no_sk_yayasan" type="text" class="form-control" name="no_sk_yayasan" value="" required autofocus>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="yayasan_nama">Nama Yayasan</label>
                          <input id="yayasan_nama" type="text" class="form-control" name="yayasan_nama" value="" required autofocus>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="no_telp">Nomor Telepon CP</label>
                            <input id="no_telp" type="text" class="form-control" name="no_telp" value="" required autofocus>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="alamat">Alamat Lengkap</label>
                            <textarea id="alamat" class="form-control" name="alamat" cols="30" rows="4"></textarea>
                          </div>
                        </div>
                    </div>

                    <div class="form-group no-margin">
                      <button type="submit" class="btn btn-primary btn-block">
                        Register
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>

{% endblock %}