{% extends "layout/base.html" %}
{% block content %}

 <div class="py-5"></div>
  <div class="py-5 col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="transition: all 0.25s;">
          <h1 class="display-4">[Nama Skema Beasiswa] - [Kode Skema Beasiswa]</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="">Deskripsi dari beasiswa</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="">Syarat Beasiswa :</p>
          <ul class="">
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-primary" href="#">Daftar Beasiswa Ini</a>
        </div>
      </div>
    </div>
  </div>

  
{% endblock %}
