{% extends "layout/base.html" %}
{% block content %}

<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="py-5"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1">List Beasiswa</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-1 py-2">
          <h5 class="py-3">No.</h5>
        </div>
        <div class="col-md-5 py-3">
          <h1 class="">Nama Beasiswa</h1>
        </div>
        <div class="col-md-2">
          <h6 class="py-3" contenteditable="true">Waktu Tutup Pendaftaran</h6>
        </div>
        <div class="col-md-2 py-3">
          <h5 class="" contenteditable="true">Status Beasiswa</h5>
        </div>
        <div class="col-md-2">
          <h4 class="" contenteditable="true">Jumlah Pendaftar</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <p class="lead">1 </p>
        </div>
        <div class="col-md-5">
          <a class="btn btn-primary" href="/informasi-beasiswa">Beasiswa Gudang Merica</a>
        </div>
        <div class="col-md-2">
          <p class="lead">22/05/2018</p>
        </div>
        <div class="col-md-2">
          <p class="lead">Dibuka</p>
        </div>
        <div class="col-md-2">
          <p class="lead">20</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <p class="lead">2 </p>
        </div>
        <div class="col-md-5">
          <a class="btn btn-primary" href="/informasi-beasiswa">Beasiswa Jarum Pentul</a>
        </div>
        <div class="col-md-2 ">
          <p class="lead">05/05/2018</p>
        </div>
        <div class="col-md-2">
          <p class="lead">Ditutup</p>
        </div>
        <div class="col-md-2">
          <p class="lead">8 </p>
        </div>
      </div>
    </div>
  </div>

  
{% endblock %}
