{% extends "layout/base.html" %}
{% block content %}


  <div class="py-5"></div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1">Membuat Beasiswa Baru</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 px-4">
          <a class="btn btn-primary px-5" href="{% url 'fitur3:Membuat_Paket_Beasiswa_Baru' %}">Membuat Paket Beasiswa Baru</a>
        </div>
        <div class="px-5">
          <a class="btn btn-primary px-5" href="{% url 'fitur3:Menambahkan_beasiswa_dari_paket' %}">Menambahkan Beasiswa dari Paket</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
