{% extends "layout/base.html" %}
{% block content %}

  <div class="py-5"></div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4">FORM PENDAFTARAN PAKET BEASISWA</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="" id="form" method="POST" action="{% url 'fitur3:submit_paket_beasiswa_baru' %}">
          {% csrf_token %}
            <div class="form-group">
              <label>Kode</label>
              <input  class="form-control" placeholder="Kode Beasiswa">
              <small class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label>Nama Paket Beasiswa</label>
              <input  class="form-control" placeholder="Nama Paket Beasiswa"> </div>
            <div class="form-group">
              <small class="text-muted form-text"></small>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Jenis Paket Beasiswa</label>
              <select class="custom-control custom-select">
                <option selected="">Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Deskripsi</label>
              <input type="text" class="form-control" id="inlineFormInput" placeholder="Deskripsi">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Syarat Beasiswa</label>
              <input type="text" class="form-control" id="inlineFormInput" placeholder="Syarat Beasiswa">
            </div>
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-primary" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
