{% extends "layout/base.html" %}
{% block content %}

  <div class="py-5"></div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4 text-left">FORM PENDAFTARAN TAMBAH BEASISWA DARI PAKET</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="" id="form" method="POST" action="{% url 'fitur3:tambah_beasiswa' %}">
          {% csrf_token %}
            <div class="form-group">
              <small class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <small class="text-muted form-text"></small>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Kode Beasiswa</label>
              <select class="custom-control custom-select">
                <option selected="">Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Nomor Urut</label>
              <input type="text" class="form-control" id="inlineFormInput" placeholder="Nomor Urut"> </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Tanggal Mulai Pendaftaran</label>
              <input type="date" class="form-control" id="inlineFormInput" placeholder="Jane Doe">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Tanggal Tutup Pendaftaran</label>
              <input type="date" class="form-control" id="inlineFormInput" placeholder="Jane Doe">
            </div>
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-primary" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
